/*************** TOOLBAR ***************/

/** general styles for toolbar panel **/
#scicalc-container {
	min-width: 28px; /* do not collapse when exchanging buttons during transition */
}

#scicalc-input {
	-moz-box-align: center;
	max-height: 24px;
	min-height: 20px;
	-moz-transition: width .3s;
}

.scicalc-icon {
	list-style-image: url("chrome://statusscicalc/skin/calc.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	padding: 0px 2px;
	cursor: default;
}

#scicalc-icon[error="true"] {
	-moz-animation: error 0.2s step-end 0s 5;
}
@-moz-keyframes error {
	0% { -moz-image-region: rect(0px, 16px, 16px, 0px); }
	50% { -moz-image-region: rect(0px, 48px, 16px, 32px); }
	100% { -moz-image-region: rect(0px, 16px, 16px, 0px); }
}

#scicalc-button {
	min-height: 22px;
	visibility: collapse;
	padding: 0px 4px !important;
	margin: 0 !important;
}

#scicalc-close {
	list-style-image: url("chrome://statusscicalc/skin/close.png");
	-moz-image-region: rect(0px, 12px, 12px, 0px);
	-moz-box-ordinal-group: 2;
	cursor: default;
	opacity: 0.5;
	padding: 3px;
	-moz-transition: opacity .3s;
	visibility: collapse;
}

#scicalc-close:hover {
	opacity: 0.9;
}

/** customizations (visibility and animations) for collapsible input panel **/
#scicalc-container.collapsible #scicalc-close {
	visibility: visible;
}

#scicalc-container.collapsible.collapsed #scicalc-input {
	width: 22px !important;
	visibility: collapse;
	-moz-transition: width .3s, visibility .3s;
}

#scicalc-container.collapsible.collapsed > #scicalc-button {
	visibility: visible;
	-moz-transition: visibility 0s .3s;
}

#scicalc-container.collapsible.collapsed #scicalc-close {
	opacity: 0;
}

/** customizations for PanelUI toolbar panel **/
#scicalc-container[cui-areatype="menu-panel"] #scicalc-input  {
	margin-top: 6px;
	height: 24px;
	font-size: inherit;
	min-width: 21.75em;
	max-width: 21.75em;
	visibility: visible !important;
}

#scicalc-container[cui-areatype="menu-panel"] > #scicalc-button {
	display: none;
}

#scicalc-container[cui-areatype="menu-panel"] #scicalc-close {
	display: none;
}

/** customization for customization mode **/
toolbarpaletteitem[place="palette"]	#scicalc-input {
	height: 24px;
	min-width: 5em;
	max-width: 5em;
	visibility: visible !important;
}

toolbarpaletteitem[place="palette"]	#scicalc-button,
toolbarpaletteitem[place="palette"]	#scicalc-close {
	display:none;
}



/*************** POPUPS ***************/

/** Various popups **/
#scicalc-error, #scicalc-info {
	width: 22.35em;
}

/** Ask mode popup **/
.calcbutton {
	-moz-appearance: none;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.65);
	background: linear-gradient(rgba(110,110,110,.9), rgba(70,70,70,.9) 49%, rgba(50,50,50,.9) 51%, rgba(40,40,40,.9));
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 1px rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	background-clip: padding-box;
	background-origin: padding-box;
	padding: 0px 2px 0px 6px;
	margin: 2px 6px;
	text-align: center;
	min-height: 16px;
	min-width: 30px;
}

.calcbutton:hover:active,
.calcbutton:hover:active {
	background: linear-gradient(rgba(40,40,40,.9), rgba(70,70,70,.9));
	box-shadow: inset 0 0 3px rgba(0,0,0,.2), inset 0 1px 7px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.1);
}

.calcbutton:-moz-focusring,
.calcbutton:-moz-focusring {
	box-shadow: 0 0 1px -moz-mac-focusring inset, 0 0 4px 1px -moz-mac-focusring, 0 0 2px 1px -moz-mac-focusring;
}

#scicalc-calcPopupTitle {
	font-size: 130%;
	font-weight: bold;
}

.butok {
	list-style-image: url("chrome://statusscicalc/skin/okcancel.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.butcancel {
	list-style-image: url("chrome://statusscicalc/skin/okcancel.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

#scicalc-askmode-content {
	background: url("chrome://statusscicalc/skin/icon.png") no-repeat;
	padding-left: 40px;
	margin-bottom: 5px;
}

/** History popup **/
#scicalc-historyBox {
	-moz-appearance: none;
	border: none;
	margin: 0;
}

#scicalc-historyBox listcol {
	min-width: 3em;
}

#scicalc-historyBox listcell:last-child {
	text-align: right;
	color: #777;
}

#scicalc-historyBox .listcell-label {
	padding-left: 4px;
	padding-right: 4px;
}

#scicalc-historyBox listboxbody {
	overflow: hidden; /* workaround for bug 491788 */
}

#scicalc-info > label {
	font-weight:bold;
}

#scicalc-vlist {
	font-size: 120%;
	margin-bottom: 10px;
}
